.hgr-page-layout {
  display: grid;
  height: 100vh;
  grid-template-areas: 'header header header' 'left content right' 'footer footer footer';
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: auto 1fr auto;

  & > .hgr-header {
    grid-area: header;
  }

  & > .hgr-left {
    grid-area: left;
  }

  & > .hgr-right {
    grid-area: right;
  }

  & > .hgr-content {
    grid-area: content;
  }

  & > .hgr-footer {
    grid-area: footer;
  }
}
